@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");

.ant-layout {
  background-color: white;
}

.content-form-login {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 5px;
}

.content-form-login h1 {
  text-align: center;
}

.item-component {
  display: block !important;
}

.item-component > div {
  margin: 0 0 0 0;
}

.error-login {
  text-align: center;
  color: red;
}

.name-client {
  text-transform: capitalize;
  font-weight: bold;
}

/* FORM CLIENTS */

.form-clients {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.form-clients .standard-item {
  position: relative;
  height: fit-content;
  max-width: 344px;
}

.form-clients .standard-item .input-text {
  width: 320px;
  font-size: 16px;
  padding: 8px 18px 8px 8px;
}

.form-clients .standard-item .input-text.input-text-with-icon input {
  padding: 0 0 0 21px;
}

.form-clients .standard-item .ant-form-item-children-icon {
  width: 20px;
  top: 22px;
  right: 24px;
}

.form-clients .standard-item .select-standard {
  width: 320px;
  font-size: 16px;
}

.form-clients .standard-item .select-standard.search-add input {
  margin: 5px 0 0 -2px;
}

.form-clients .standard-item .select-standard .ant-select-selector {
  height: 43px;
  padding: 6px 0 0 9px;
}

.form-clients
  .standard-item
  .select-standard-with-icon
  div.ant-select-selector {
  padding: 6px 0 0 33px;
}

.form-clients .standard-item .select-multi {
  width: 320px;
  font-size: 16px;
}

.form-clients .standard-item .select-multi .ant-select-selector {
  min-height: 43px;
}

.form-clients .standard-item .icon-select-standard {
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 1;
}

.form-clients .standard-item .icon-select-standard .ant-select-selector {
  margin: 0 0 33px 0;
}

.form-clients .history-content .ant-steps-item-content {
  width: calc(100% - 27px);
}

.form-clients .status-form-container .ant-steps-item-title {
  font-size: 12px;
}

/* TWINS */

.form-clients .standard-item.twins-first {
  display: flex;
  flex-direction: column;
}

.form-clients .standard-item.twins-first .ant-form-item-label {
  text-align: start;
}

.form-clients .standard-item.twins-first .select-multi {
  width: 155px;
  margin: 0 10px 0 0;
}

.form-clients .standard-item.twins-last {
  margin-top: 32px;
}

.form-clients .standard-item.twins-last .ant-form-item-label {
  display: none;
}

.form-clients .standard-item.twins-last .select-multi {
  width: 155px;
}

.form-clients .standard-item .input-text.phone-input {
  padding: 0;
}

.form-clients .standard-item .input-text.phone-input input {
  height: 43px;
}

.form-clients
  .standard-item
  .input-text.phone-input
  .ant-select-selection-search
  input {
  height: 30px;
}

.open-graph--nodata {
  border: 1px solid #d9d9d9;
}

.aside-menu-principal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-around;
  width: 70px !important;
  max-width: 70px !important;
  min-width: 70px !important;
  height: 1080px;
  background-color: #004da9;
  z-index: 4;
}

.wrapper-btn-sections {
  display: flex;
  flex-direction: column;
}

.wrapper-btn-sections button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #004da9;
  border: 0;
  cursor: pointer;
  outline: none;
}

/* TIMELINE */

.timeline-sheet .ant-steps-item-content {
  width: 250px;
}

.timeline-sheet .ant-steps-item-icon {
  margin-top: 4px !important;
}

.timeline-sheet .check .ant-steps-item-icon::after {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 16px;
  height: 15px;
  content: url("/_next/static/files/ok_icon.svg");
  background-color: transparent;
}

.timeline-sheet .ant-steps-icon-dot {
  width: 15px !important;
  height: 15px !important;
  background-color: white !important;
  border: 2px solid #70a1ff !important;
}

.timeline-sheet .check .ant-steps-icon-dot {
  border: 0 !important;
}

.timeline-sheet .ant-steps-item-tail {
  left: -5px !important;
}

.timeline-sheet .ant-steps-item-title {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #636363 !important;
  white-space: nowrap;
}

.timeline-sheet .ant-steps-item-tail::after {
  background-color: #eceff2 !important;
}

.title-timeline-sheet {
  white-space: nowrap;
}

.timeline-sheet .title-timeline-sheet .link {
  color: #70a1ff;
}

.timeline-sheet .desc-timeline-sheet {
  color: #b3b3b3;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
}

.timeline-sheet .date-timeline-sheet {
  font-size: 10px;
  color: #004da9;
  font-weight: 500;
}

.content-about-table {
  position: fixed;
  top: 0;
  left: 70px;
  width: 100%;
  height: 150px;
  background-color: #f0f2f5;
  z-index: 4;
}

.about-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: calc(100% - 115px);
  margin: 25px 0 0 20px;
}
.about-table .icon-rocket {
  width: 19px;
  border: 1px solid #ff6b81;
  padding: 3px;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}
.about-table .wrapper-buttons {
  display: flex;
  flex-direction: row;
}
.about-table button {
  width: 114px;
  height: 35px;
  border: 1px solid #a8b4c5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: none;
  cursor: pointer;
  margin: 0 10px 0 0;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}
.about-table button:first-child {
  background-color: #0a50a6;
  box-shadow: 2px 2px 5px #d9d9d9;
  color: #ffffff;
  font-weight: 500;
  margin: 0 13px 0 0;
}
.about-table .wrapper-list-btn button {
  background: #1890ff;
  border-radius: 4px;
  margin-right: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.about-table .wrapper-list-btn button:focus ~ .list {
  display: block;
}

.about-table .wrapper-list-btn .list {
  display: none;
  position: absolute;
  background-color: white;
  width: 114px;
  box-shadow: 3px 3px 3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  z-index: 1;
}
.about-table .wrapper-list-btn .list div {
  padding: 9px 0;
  text-align: center;
  cursor: pointer;
}
.about-table .wrapper-list-btn .list div:nth-child(even) {
  background: white;
}
.about-table .wrapper-list-btn .list div:nth-child(odd) {
  background: #eff0f8;
}
.about-table .wrapper-list-btn .list div:last-child {
  border-radius: 5px;
}

body > .table-header {
  display: block;
}
table {
  margin: 0 23px 0 0;
}
#table-header-content {
  position: sticky;
  top: 150px;
  z-index: 3;
}
.table-header {
  margin: 0 0 0 95px;
  background-color: #f0f2f5;
  border-color: white;
}
.table-header thead {
  background-color: white;
  border: 1px solid transparent;
}
.table-header thead th {
  padding-top: 7px;
}
.table-header thead th:first-child {
  border-top-left-radius: 11px;
}
.table-header thead th:last-child {
  border-top-right-radius: 11px;
}
.table-header tbody {
  visibility: hidden;
}
.table-header tbody td {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.table-header tbody td * {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.table-body {
  background-color: white;
}
.table-body thead {
  visibility: hidden;
}
.table-body thead th {
  line-height: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  visibility: hidden;
}
.trap-table-margins {
  position: fixed;
  top: 0;
  width: 25px;
  height: 100%;
  background-color: #f0f2f5;
  z-index: 4;
}
.trap-table-margins.ttm-left {
  left: 70px;
}
.trap-table-margins.ttm-right {
  right: -2px;
}
